<%= provide(:title, @user.name) %>

<div class="container">
  <div class="row">
    <div class="col-md-10 col-md-offset-1">
      <h1><%= current_user.name %>のタスク一覧</h1>
      <a class="btn btn-primary pull-right">タスク新規作成</a>
      
      <table　class="table table-hover">
        <thead>
          <tr>
            <th>名称</th>
            <th>作成日</th>
          </tr>
        </thead>
        <tbody>
          <% @tasks.each do |task| %>
            <tr>
              <td><%= task.name %></td>
              <td><%= task.created_at %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>